<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <title>Sign Up</title>

    {% include "foundation/Navigation-Bar.html" %}
</head>
<style>
    html, body {
        font-family: 'Roboto Flex', san-serif;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        background-color: white;
    }

    #account-background-1 {
        height: 800px;
        background: linear-gradient(to top right, purple 0%, darkblue 100%);
    }


</style>
<body>
    <div id = "account-background-1">
        <h1 style = "margin: 0; text-align: center;">Sign Up</h1>
    </div>

<script>

</script>

</body>
</html>
