<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>
<h2>Login Page</h2><br>
<div class="login">
    <form id="login" method="get" action="/">
        <label><b>Username
        </b>
        </label>
        <input type="text" name="uname" id="uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="password" id="password" placeholder="Password">
        <br><br>
        <input type="button" name="Signup" id="Signup" value="Signup">
        <input type="button" name="login1" id="login1" value="Login">
        <br><br>
    </form>
</div>
<script>

</script>
</body>
</html>