<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Service Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% include "foundation/navigation-bar.html" %}
</head>
<style>
    html, body {
        font-family: 'Roboto Flex', sans-serif;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        background-color: whitesmoke;
        scroll-behavior: smooth;
    }

    .search-heading-1 {
        height: 60px;
        width: 300px;
        background-color: slategray;
        margin: auto;
    }

    #search-background-1 {
        height: 1600px;
        width: 100%;
        background-color: whitesmoke;
        background-repeat: no-repeat;
    }

    .search-background-2 {
        height: 200px;
        width: 100%;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        position: relative;
    }

    .search-image-1 {
        height: 350px;
        width: 550px;
        border-radius: 15px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
        transition-duration: 0.4s;
    }

    .search-image-1:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    }

    .category-dropdown-container {
        height: 70px;
        width: 700px;
        margin: auto;
        margin-top: 70px;
        position: relative;
        top: 110px;
        background-color: navy;
        border-left: 7px solid dodgerblue;
        color: white;
        padding: 10px;
        transition-duration: 1.1s;
    }

    .category-dropdown-container:hover {
        animation-name: dropdown-animation-background-color;
        animation-duration: 1.4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    @keyframes dropdown-animation-background-color {
        0% {background-color: navy;}
        100% {background-color: dodgerblue;}
    }

    .category-dropdown-content {
        width: 720px;
        border-left: 7px solid transparent;
        margin: auto;
        position: relative;
        top: 110px;
        background-color: darkblue;
    }

    /*.category-dropdown-marking {
        height: 100px;
        width: 7px;
        background-color: dodgerblue;
    }*/

    /* .search-button-1 {
        height: 24px;
        width: 200px;
        font-size: 14px;
        background-color: white;
        border: 2px solid;
        border-image: linear-gradient(45deg, cyan, dodgerblue) 1;
        margin-top: 11px;
        margin-left: 11px;
        transition-duration: 0.4s;
    }

    .search-button-1:hover {
        border-image: linear-gradient(45deg, dodgerblue, cyan) 1;
    } */

    .circles-container {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .circle-1 {
        height: 250px;
        width: 250px;
        border-radius: 100%;
        background-color: black;
    }

    table {
        border-collapse: collapse;
        margin: auto;
    }

    td {
        height: 40px;
        width: 150px;
        background-color: white;
        border: 4px solid royalblue;
    }

    /*td:nth-child(odd) {
        background-color: white;
        border: 2px solid mediumseagreen;
    }

    td:nth-child(even) {
        background-color: white;
        border: 2px solid dodgerblue;
    }*/

    .service-link {
        display: block;
        margin: auto;
        color: black;
    }

</style>



<div id="search-background-1">
    <h1 style="text-align: center; color: black; margin-top: 70px;">Service Search</h1>
    <div class = "search-background-2">
        <div class = "search-image-1">
            <img src = "/static/assets/images/service-search-picture-1.jpg" class = "search-image-1">
        </div>
    </div>
        <!--<div class="circles-container">
            <div class="circle-1">
                <h2 style="color: white; text-align: center; font-size: 30px; margin: 0;">Select a category</h2>
            </div>
            <div class="circle-1" style="margin-top: 5.5%;">
                <h2 style="color: white; text-align: center; font-size: 30px;">Find the ideal service provider</h2>
            </div>
            <div class="circle-1" style="margin-top: 11%;">
                <h2 style="color: white; text-align: center; font-size: 30px">Gain the information you need about
                    them</h2>
            </div>
            <div class="circle-1" style="margin-top: 16.5%;">
                <h2 style="color: white; text-align: center; font-size: 30px">Connect with the service provider</h2>
            </div>
        </div>-->

    <div class="categories-container">
        <div class="category-dropdown-container" id = "category-dropdown-container-1">
            <h1 style="text-align: center; margin-top: 21px">Maintenance</h1>
        </div>
        <div class="category-dropdown-content">
            <p style="color: white; margin: 0; text-align: center; position: relative; top: 10px;">The best educational
                services in San Diego</p>
            <table style = "margin-top: 40px;">
                <tr>
                    <td><a href="/teqneeq-24-hour-gym/" class = "service-link">Taneeq 24 Hour Gym</a></td>
                    <td><a href="/cycle-bar/" class = "service-link">Cycle Bar</a></td>
                    <td><a href="/orange-theory/" class = "service-link">Orange Theory Fitness</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
            </table>
        </div>

        <div class="category-dropdown-container" id = "category-dropdown-container-2">
            <h1 style="text-align: center; margin-top: 21px">Amenity</h1>
        </div>
        <div class="category-dropdown-content">
            <p style="color: white; margin: 0; text-align: center; position: relative; top: 10px;">The best educational
                services in San Diego</p>
            <table style = "margin-top: 40px;">
                <tr>
                    <td><a href="/teqneeq-24-hour-gym/" class = "service-link">Taneeq 24 Hour Gym</a></td>
                    <td><a href="/cycle-bar/" class = "service-link">Cycle Bar</a></td>
                    <td><a href="/orange-theory/" class = "service-link">Orange Theory Fitness</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
            </table>
        </div>

        <div class="category-dropdown-container" id = "category-dropdown-container-3">
            <h1 style="text-align: center; margin-top: 21px">Medical</h1>
        </div>
        <div class="category-dropdown-content">
            <p style="color: white; margin: 0; text-align: center; position: relative; top: 10px;">The best educational
                services in San Diego</p>
            <table style = "margin-top: 40px;">
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
            </table>
        </div>

        <div class="category-dropdown-container" id = "category-dropdown-container-4">
            <h1 style="text-align: center; margin-top: 21px">Education</h1>
        </div>
        <div class="category-dropdown-content">
            <p style="color: white; margin: 0; text-align: center; position: relative; top: 10px;">The best educational
                services in San Diego</p>
            <table style = "margin-top: 40px;">
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy/" class = "service-link">Khan Academy</a></td>
                    <td><a href="/the-art-of-dentistry/" class = "service-link">The Art of Dentistry</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
                <tr>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                    <td><a href="/mathnasium/" class = "service-link">Mathnasium</a></td>
                    <td><a href="/khan-academy" class = "service-link">Khan Academy</a></td>
                    <td><a href="/kumon/" class = "service-link">Kumon</a></td>
                </tr>
            </table>
        </div>
    </div>
    <!--
        <div class="circle-1" style="position: relative; top: -265px; left: 100px;">
            <h2 style="color: white; text-align: center; position: absolute; top: 110px; left: 32px; font-size: 30px; margin: 0;">
                To be determined</h2>
        </div>
        <div class="circle-1" style="position: relative; top: -425px; left: 450px;">
            <h2 style="color: white; text-align: center; position: absolute; top: 70px; left: 3px; font-size: 30px">To
                be determined</h2>
        </div>
        <div class="circle-1" style="position: relative; top: -585px; left: 800px;">
            <h2 style="color: white; text-align: center; position: absolute; top: 65px; left: 1px; font-size: 30px">To
                be determined</h2>
        </div>
        <div class="circle-1" style="position: relative; top: -745px; left: 1150px;">
            <h2 style="color: white; text-align: center; position: absolute; top: 70px; left: 1px; font-size: 30px">To
                be determined</h2>
        </div>
    -->
</div>
<script src="/static/assets/javascript/service-search-startup.js"></script>
<script>

        $(".category-dropdown-container").on("click", dropdownAnimation1);

        function dropdownAnimation1() {
            if ($(this).children(0).text() == 'Maintenance') {
                if (localStorage.getItem("maintenanceDropdownStatus")) {
                    if (localStorage.getItem("maintenanceDropdownStatus") == "Hidden") {
                        $(".category-dropdown-content").eq(0).css("display", "block");
                        $(".category-dropdown-content").eq(0).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("maintenanceDropdownStatus", "Shown");
                        });
                    } else if (localStorage.getItem("maintenanceDropdownStatus") == "Shown") {
                        $(".category-dropdown-content").eq(0).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(0).css("display", "none");
                            localStorage.setItem("maintenanceDropdownStatus", "Hidden");
                        });
                    }
                } else {
                    if ($(".category-dropdown-content").eq(0).css("display") == "none") {
                        $(".category-dropdown-content").eq(0).css("display", "block");
                        $(".category-dropdown-content").eq(0).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("maintenanceDropdownStatus", "Shown");
                        });
                    } else if ($(".category-dropdown-content").eq(0).css("display") == "block") {
                        $(".category-dropdown-content").eq(0).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(0).css("display", "none");
                            localStorage.setItem("maintenanceDropdownStatus", "Hidden");
                        });
                    }
                }
            } else if ($(this).children(0).text() == 'Amenity') {
                if (localStorage.getItem("amenityDropdownStatus")) {
                    if (localStorage.getItem("amenityDropdownStatus") == "Hidden") {
                        $(".category-dropdown-content").eq(1).css("display", "block");
                        $(".category-dropdown-content").eq(1).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("amenityDropdownStatus", "Shown");
                        });
                    } else if (localStorage.getItem("amenityDropdownStatus") == "Shown") {
                        $(".category-dropdown-content").eq(1).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(1).css("display", "none");
                            localStorage.setItem("amenityDropdownStatus", "Hidden");
                        });
                    }
                } else {
                    if ($(".category-dropdown-content").eq(1).css("display") == "none") {
                        $(".category-dropdown-content").eq(1).css("display", "block");
                        $(".category-dropdown-content").eq(1).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("amenityDropdownStatus", "Shown");
                        });
                    } else if ($(".category-dropdown-content").eq(1).css("display") == "block") {
                        $(".category-dropdown-content").eq(1).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(1).css("display", "none");
                            localStorage.setItem("amenityDropdownStatus", "Hidden");
                        });
                    }
                }
            } else if ($(this).children(0).text() == 'Medical') {
                if (localStorage.getItem("medicalDropdownStatus")) {
                   if (localStorage.getItem("medicalDropdownStatus") == "Hidden") {
                        $(".category-dropdown-content").eq(2).css("display", "block");
                        $(".category-dropdown-content").eq(2).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("medicalDropdownStatus", "Shown");
                        });
                   } else if (localStorage.getItem("medicalDropdownStatus") == "Shown") {
                       $(".category-dropdown-content").eq(2).animate({height: "0px"}, 1000, function(){
                          $(".category-dropdown-content").eq(2).css("display", "none");
                          localStorage.setItem("medicalDropdownStatus", "Hidden");
                       });
                   }
                } else {
                    if ($(".category-dropdown-content").eq(2).css("display") == "none") {
                        $(".category-dropdown-content").eq(2).css("display", "block");
                        $(".category-dropdown-content").eq(2).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("medicalDropdownStatus", "Shown");
                        });
                    } else if ($(".category-dropdown-content").eq(2).css("display") == "block") {
                        $(".category-dropdown-content").eq(2).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(2).css("display", "none");
                            localStorage.setItem("medicalDropdownStatus", "Hidden");
                        });
                    }
                }
            } else if ($(this).children(0).text() == 'Education') {
                if (localStorage.getItem("educationDropdownStatus")) {
                    if (localStorage.getItem("educationDropdownStatus") == "Hidden") {
                        $(".category-dropdown-content").eq(3).css("display", "block");
                        $(".category-dropdown-content").eq(3).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("educationDropdownStatus", "Shown");
                        });
                    }
                    else if (localStorage.getItem("educationDropdownStatus") == "Shown") {
                        $(".category-dropdown-content").eq(3).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(3).css("display", "none");
                            localStorage.setItem("educationDropdownStatus", "Hidden");
                        });
                    }
                } else {
                    if ($(".category-dropdown-content").eq(3).css("display") == "none") {
                        $(".category-dropdown-content").eq(3).css("display", "block");
                        $(".category-dropdown-content").eq(3).animate({height: "300px"}, 1000, function(){
                            localStorage.setItem("educationDropdownStatus", "Shown");
                        });
                    }
                    else if ($(".category-dropdown-content").eq(3).css("display") == "block") {
                        $(".category-dropdown-content").eq(3).animate({height: "0px"}, 1000, function(){
                            $(".category-dropdown-content").eq(3).css("display", "none");
                            localStorage.setItem("educationDropdownStatus", "Hidden");
                        });
                    }
                }
            }
        }

</script>
</body>
</html>
